lastfile
__pycache__
wingeo
lastfile
recent
options.repo
options.save
tags.repo
tags.save
README.html
CSdoc.html
cscomadd
zipper
bkup_*
CodeScriber.desktop
snip.txt
winfo
ailog.*
cs.pyc
prompt.txt
old_source
